* 
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	list-style: none;
}
body 
{
	line-height: 1.5;
	font-size: 20px;
}
.page-block	
{
	padding: 60px 0;
}
.page-block--gray
{
	background-color: #eee;
}
.title--center 
{
	text-align: center;
}
.exercise-title
{
	padding-bottom: 30px;
	padding-top: 50px;
	font-size: 24px;
}
.exercise-input
{
	text-indent: 50px;
}
.exercise-solution
{
	font-family: monospace;
}
.exercise-output
{
	border-left: 4px solid #222;
	padding-left: 20px;
}
.title--bold
{
	font-weight: bold;
}
.exercise-btn
{
	display: block;
	padding: 20px 20px;
	text-decoration: none;
}
.page-form 
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
.page-form-input[type=submit]
{
	width: 300px;
	padding: 5px 20px;
	display: block;
	margin-top: 20px;
}
.exercise-image 
{
	width: 100%;
}